extends layout

block content
  .fallback-message
    p
      | This presentation was build for latest
      b Chrome
      | or
      b Safari
      | browser.
    p
      | You are viewing simplified view, but most of the CSS 3D will not work for you, sorry.
  #impress
    #title.step(data-x='-1000',data-y='-1500')
      h1
        span HTML5
        span.css
          | CSS3
        span.short (y javascript!)
      span.author
        i by
        br
        span.name Jordi Anglada
    .step(data-x='300', data-y='-1500')
      h2 HTML5
      ul
        li Nuevo estándar
        li Web semántica
          code.snippet
            span.indent #{'<header><nav><footer><section>'}
        li Mejoras en formularios
        li Multimedia: Canvas, Audio & Vídeo
        li Nuevas APIs
          code.snippet
            span.indent Geoposicionamiento, Storage, WebSockets, WebWorkers, Drag&Drop...
        li WebGL
    #css3.step(data-x='1800', data-y='-1500')
      h2 CSS3
      ul
        li @Font-face
        li Sombras y degradados
        li Animaciones
        li Transformaciones
    .step(data-x='3000', data-y='-3000')
      h2 CSS3
      h3 @Font-faces
      | Htlm4
      ul
        li Pocas
          a(href='http://en.wikipedia.org/wiki/Font_family_%28HTML%29', target='_blank') fuentes
        li Dependen del sistema cliente
        li font-family: times, serif, arial;
      | Html5
      ul
        li Fuentes True Type
        li No dependen del cliente
        li Mucha
          a(href='http://www.fontsquirrel.com/fonts', target='_blank') variedad
    .step(data-x='1800', data-y='-3000')
      h2 CSS3
      h3 Sombras y degradados
      ul
        li.textShadow text-shadow: 5px 5px 10px #000000;
        li.boxShadow box-shadow: 10px 10px 5px #888;
        li
          a(href='http://www.midwinter-dg.com/permalink-7-great-css-based-text-effects-using-the-text-shadow-property_2011-03-03.html', target='_black') Ejemplos
        li.degradado Degradados
        li 
          a(href='http://www.desarrolloweb.com/articulos/ejemplos/css/css3/degradados-css.html', target='_black') Ejemplos
    .step(data-x='0', data-y='-3000')
      h2 CSS3
      h3 Animaciones
      ul
        li No requiere javascript
        li Más fluido (utiliza targeta gráfica)
        li Aplicable a muchas 
          a(href='http://css3.bradshawenterprises.com/transitions/#animatable', target='_blank') propiedades
      h4 Transition (property, duration, timing-function, delay)
      code.snippet
        span.indent all 1s ease-in-out
      ul
        li
          a(href='http://css3.bradshawenterprises.com/transitions/', target='_black') Ejemplo
      h4 @keyframes (name, delay, direction, duration, fill-mode...)
      code.snippet
        span.indent animation: irYvolver 10s infinite linear;
      ul
        li Línea de tiempo
        li
          a(href='http://ksesocss.blogspot.com/2012/03/keyframes-animaciones-con-css3-una.html', target='_black') Ejemplo
      h4 Ejemplos
      ul
        li 
          a(href='http://cssdeck.com/labs/wall-clock-in-pure-css3', target='_black') Relog
        li 
          a(href='http://www.impressivewebs.com/demo-files/css3-animated-scene/', target='_black') Animación
    .step(data-x='-1500', data-y='-3000')
      h2 CSS3
      h3 Transformaciones
      h4 2D
      ul
        li Traslate, rotate, scale, skew, matrix
        li
          a(href='http://www.csslab.cl/ejemplos/css3/prueba3.html', target='_black') Ejemplo
      h4 3D
      ul
        li Traslate[X,Y,Z], rotate[X,Y,Z], scale[X,Y,Z], perspective
        li 
          a(href='http://desandro.github.io/3dtransforms/examples/carousel-01.html', target='_black') Ejemplo
    #html5.step(data-x='-3000', data-y='-3000', data-rotate='90', data-scale='4')
      h2 HTML5
      h3 Semántica
      ul
        li Traslate, rotate, scale, skew, matrix
        li
          a(href='http://www.csslab.cl/ejemplos/css3/prueba3.html', target='_black') Ejemplo
      h4 3D
      ul
        li Traslate[X,Y,Z], rotate[X,Y,Z], scale[X,Y,Z], perspective
        li 
          a(href='http://desandro.github.io/3dtransforms/examples/carousel-01.html', target='_black') Ejemplo
