extends layout

block content
  .fallback-message
    p
      | This presentation was build for latest
      b Chrome
      | or
      b Safari
      | browser.
    p
      | You are viewing simplified view, but most of the CSS 3D will not work for you, sorry.
  #impress
    #title.step(data-x='-1000',data-y='-1500')
      h1
        span HTML5
        span.css
          | CSS3
        span.short (y javascript!)
      span.author
        i by
        br
        span.name Jordi Anglada
    .step(data-x='300', data-y='-1500')
      h2 HTML5
      ul
        li Nuevo estándar
        li Web semántica
          code.snippet
            span.indent #{'<header><nav><footer><section>'}
        li Mejoras en formularios
        li Multimedia: Canvas, Audio & Vídeo
        li Nuevas APIs
          code.snippet
            span.indent Geoposicionamiento, Storage, WebSockets, WebWorkers, Drag&Drop...
        li WebGL
    #css3.step(data-x='1800', data-y='-1500')
      h2 CSS3
      ul
        li @Font-face
        li Sombras y degradados
        li Animaciones
        li Transformaciones
    .step(data-x='3000', data-y='-3000')
      h2 CSS3
      h3 @Font-faces
      | Htlm4
      ul
        li Pocas
          a(href='http://en.wikipedia.org/wiki/Font_family_%28HTML%29', target='_blank') fuentes
        li Dependen del sistema cliente
        li font-family: times, serif, arial;
      | Html5
      ul
        li Fuentes True Type
        li No dependen del cliente
        li Mucha
          a(href='http://www.fontsquirrel.com/fonts', target='_blank') variedad
    .step(data-x='1800', data-y='-3000')
      h2 CSS3
      h3 Sombras y degradados
      ul
        li.textShadow text-shadow: 5px 5px 10px #000000;
        li.boxShadow box-shadow: 10px 10px 5px #888;
        li
          a(href='http://www.midwinter-dg.com/permalink-7-great-css-based-text-effects-using-the-text-shadow-property_2011-03-03.html', target='_black') Ejemplos
        li.degradado Degradados
        li 
          a(href='http://www.desarrolloweb.com/articulos/ejemplos/css/css3/degradados-css.html', target='_black') Ejemplos
    .step(data-x='0', data-y='-3000')
      h2 CSS3
      h3 Animaciones
      ul
        li No requiere javascript
        li Más fluido (utiliza targeta gráfica)
        li Aplicable a muchas 
          a(href='http://css3.bradshawenterprises.com/transitions/#animatable', target='_blank') propiedades
      h4 Transition (property, duration, timing-function, delay)
      code.snippet
        span.indent all 1s ease-in-out
      ul
        li
          a(href='http://css3.bradshawenterprises.com/transitions/', target='_black') Ejemplo
      h4 @keyframes (name, delay, direction, duration, fill-mode...)
      code.snippet
        span.indent animation: irYvolver 10s infinite linear;
      ul
        li Línea de tiempo
        li
          a(href='http://ksesocss.blogspot.com/2012/03/keyframes-animaciones-con-css3-una.html', target='_black') Ejemplo
      h4 Ejemplos
      ul
        li 
          a(href='http://cssdeck.com/labs/wall-clock-in-pure-css3', target='_black') Relog
        li 
          a(href='http://www.impressivewebs.com/demo-files/css3-animated-scene/', target='_black') Animación
    .step(data-x='-1500', data-y='-3000')
      h2 CSS3
      h3 Transformaciones
      h4 2D
      ul
        li Traslate, rotate, scale, skew, matrix
        li
          a(href='http://www.csslab.cl/ejemplos/css3/prueba3.html', target='_black') Ejemplo
      h4 3D
      ul
        li Traslate[X,Y,Z], rotate[X,Y,Z], scale[X,Y,Z], perspective
        li 
          a(href='http://desandro.github.io/3dtransforms/examples/carousel-01.html', target='_black') Ejemplo
    #html5.step(data-x='-3000', data-y='-3000', data-rotate='270', data-scale='40')
      h2 HTML5
      h3 Semántica
      ul
        li No más div > div > div > div
      img(src='/img/html5_estructura.png')
      ul
        li Mejora accesibilidad
        li Mejora en buscadores
        li Mejor organización (y más mantenible!)
    .step(data-x='-6000', data-y='-5000', data-z='2000', data-z='-10', data-rotate-y='5')
      h2 HTML5
      h3 Mejoras en formularios
      ul
        li Input type (numbre, email, date...)
        li Atributos (Placeholders, autofocus, required, patterns)
        li Progress
        code.snippet
          form
            span number
            input(type='number',min='1',max='5')
            br
            span email (required)
            input(type='email', required, autofocus)
            br
            span date
            input(type='date',min='1',max='5')
            br
            span placeholder
            input(type='text', placeholder='escribe lo que quieras')
            br
            span pattern
            input(type='text', placeholder='escribe solo letras', pattern='[A-Za-z]*')
            br
            span progress
            progress(value='22', max='100')
            input(type='submit')
        li Atributo Data: Accesible desde jQuery.data('customAttr')
        code.snippet
          | data-custom-attr="valor"
    .step(data-x='-12000', data-y='-5000')
      h2 HTML5
      h3 Multimedia: #{'<canvas>'}
      ul
        li Api de dibujo
        li Tratamiento de imágenes
        li Ejemplos
          ul
            li
              a(href='http://diveintohtml5.info/examples/canvas-halma.html',target='_blank') Juego
            li
              a(href='http://seriouslyjs.org/',target='_blank') Tratamiento imágenes
            li
              a(href='http://mudcu.be/sketchpad/',target='_blank') Paint
    .step(data-x='-14000', data-y='-5000')
      h2 HTML5
      h3 Multimedia: #{'<audio>'}
      ul
        li Reproducción de forma nativa
        li Controles integrados
        li Api javascript
        li
          a(href='http://www.w3schools.com/html/html5_audio.asp',target='_blank') Documentación y ejemplo
    .step(data-x='-15500', data-y='-7000')
      h2 HTML5
      h3 Multimedia: #{'<video>'}
      ul
        li Reproducción de forma nativa
        li Controles integrados
        li Api javascript
        li Flash fallback
        li
          a(href='http://www.w3schools.com/html/html_videos.asp',target='_blank') Documentación y ejemplo
    .step(data-x='-15500', data-y='-5000')
      h2 HTML5
      h3 Geolocalización
      ul
        li Posición por GPS, Wifi o red telefónica
        li Api javascript
        li navigator.geolocation
        li
          a(href='http://www.w3schools.com/html/html5_geolocation.asp',target='_blank') Documentación y ejemplo
        li
          a(href='http://html5demos.com/geo',target='_blank') Demo
    .step(data-x='-18000', data-y='-5000')
      h2 HTML5
      h3 Web storage
      ul
        li Pares clave-valor
        li Espacio de 5 a 10 Mb! (depende navegador)
        li Api javascript
        li localStorage / sessionStorage
        li
          a(href='http://www.w3schools.com/html/html5_webstorage.asp',target='_blank') Documentación y ejemplo
    .step(data-x='-18000', data-y='-3000', data-z='500', data-rotate='90')
      h2 HTML5
      h3 WebSockets
      ul
        li Comunicación bidireccional en la web!
        li Aplicaciones de escritorio en web
        li Creación de un chat en pocas líneas.
        li Aplicaciones: google apps, facebook, etc
        li Ejemplo?
    .step(data-x='-18000', data-y='-1500')
      h2 HTML5
      h3 WebWorkers
      ul
        li Multihilo en javascript
        li Ejecución en segundo plano
        li Cálculos complejos
        li No más: "Hay un script que está ocupado y no responde"
        li
          a(href='http://www.w3schools.com/html/html5_webworkers.asp',target='_blank') Documentación y ejemplo
        li
          a(href='http://people.mozilla.com/~prouget/demos/worker_and_simulatedannealing/index.xhtml',target='_blank') Demo
    .step(data-x='-20000', data-y='-1500')
      h2 HTML5
      h3 WebGL
      ul
        li Gráficos en 3D en la web
        li Aceleración por hardware
        li Implementación OpenGL
        li Juegos en el navegador
        li
          a(href='http://madebyevan.com/webgl-water/',target='_blank') Demo
        li
          a(href='http://hexgl.bkcore.com/',target='_blank') Juego
    .step(data-x='-22000', data-y='-1500')
      h2 HTML5
      h3 ¿Todo tan bonito?
      ul
        li Internet Explorer
        li Navegadores móviles
        li Fallbacks
        li
          a(href='http://caniuse.com/',target='_blank') CanIUse
        li
          a(href='http://html5please.com/',target='_blank') Fallbacks
    .step(data-x='-24000', data-y='-1500')
      h2 HTML5
      h3 Juguemos!
      ul
        li
          a(href='http://twitter.github.io/bootstrap/',target='_blank') Bootstrap
