extends layout

block content
  .fallback-message
    p
      | This presentation was build for latest
      b Chrome
      | or
      b Safari
      | browser.
    p
      | You are viewing simplified view, but most of the CSS 3D will not work for you, sorry.
  #impress
    #title.step(data-x='-1000',data-y='-1500')
      h1
        span HTML5
        span.css
          | CSS3
        span.short (y javascript!)
      span.author
        i by
        br
        span.name Jordi Anglada
    .step(data-x='300', data-y='-1500')
      h2 HTML5
      ul
        li Nuevo estándar
        li Web semántica
          code.snippet
            span.indent #{'<header><nav><footer><section>'}
        li Mejoras en formularios
        li Multimedia: Canvas, Audio & Vídeo
        li Nuevas APIs
          code.snippet
            span.indent Geoposicionamiento, Storage, WebSockets, WebWorkers, Drag&Drop...
        li WebGL
          
